@font-face {
    font-family: 'Bold';
    src: url(/fonts/FiraSans/FiraSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Black';
    src: url(/fonts/FiraSans/FiraSans-Black.ttf);
    font-weight: 900;
}






/* ------------------------- general  ------------------------- */
body {
    background: url("/assets/img/bg.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.btn {
    position: relative;
    z-index: 1;
    background: #FF7E00;
    display: inline-block;
    padding: 5px 75px;
    border-radius: 8px;
    opacity: 1;
    transition: all .7s ease;
    cursor: pointer;
}

.btn:hover {
    opacity: .7;
    transition: all .7s ease;
}

/* ------------------------- header  ------------------------- */
.header {
    text-align: center;
}

.logo {
    position: relative;
    /* left: 150px; */
    top: 30px;
    margin-bottom: 30px;
}


/* ------------------------- main  ------------------------- */
.main-content {
    display: flex;
    justify-content: space-evenly;
}

.main-content-inner {
    position: relative;
}

.main-content-text {
    position: relative;
    text-align: center;

}

.main-title {
    font-family: 'Black', sans-serif;
    text-align: center;
    font-size: 56px;
    line-height: 87px;
    background: linear-gradient(180deg, #E9661C 30%, #FFC20E 70%);
    /* background: linear-gradient(180deg, rgb(233, 102, 28) 6%, rgb(255, 194, 14) 89%); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-big {
    font-size: 84px;
}

.main-subtitle {
    margin-bottom: 50px;
}

.main-desc {
    color: #fff;
    text-align: center;
    font-family: 'Bold', sans-serif;
    font-size: 48px;
    line-height: 8px;
    margin-bottom: 70px;
}

.main-desc .title-big {
    font-size: 56px;
}

.main-link {
    color: #F4FBE0;
    text-align: center;
    font-family: 'Bold', sans-serif;

    font-size: 32px;
    line-height: 70px;
    display: inline-block;
    width: 100%;
}

.gem-left {
    position: absolute;
    top: 400px;
    left: -165px;
}

.octopus {
    position: absolute;
    right: -170px;
    bottom: -45px;
}

.main-content-image {
    position: relative;
}

.slot-machine {
    position: relative;
    top: 95px;
    left: 20px;
}

.gem-right {
    position: absolute;
    top: 120px;
    left: -190px;
}

/* создаем ключевую анимацию для элемента */
@keyframes float {
    0% {
        transform: translateY(0);
        /* начальная позиция элемента */
    }

    50% {
        transform: translateY(-10px);
        /* задаем направление и длину парения элемента */
    }

    100% {
        transform: translateY(0);
        /* возвращаем элемент в исходную позицию */
    }
}

/* применяем анимацию к элементу */
.element {
    animation: float 3s ease-in-out infinite;
    /* 3s - время одного цикла анимации, ease-in-out - для плавного старта и остановки, infinite - для бесконечного повторения */
}

@media screen and (max-width: 1439px) {
    .main-content {
        display: flex;
        justify-content: space-around;
    }

    .main-title {
        font-size: 36px;
        line-height: 65px;
    }

    .main-subtitle {
        margin-bottom: 45px;
    }

    .main-desc {
        margin-bottom: 50px;
    }

    .main-link {
        font-size: 25px;
    }

    .title-big {
        font-size: 64px;
    }

    .octopus {
        width: 235px;
        right: -206px;
        bottom: -10px;
    }

    .gem-left {
        width: 650px;
    }

    .gem-right {
        width: 550px;
        left: -145px;
    }

    .slot-machine {
        left: -30px;
        width: 300px;
    }

}

@media screen and (max-width: 1249px) {
    .logo {
        width: 250px;
    }

    .main-content {
        display: flex;
        justify-content: space-between;
    }

    .gem-right {
        width: 427px;
        top: 141px;
        left: -166px;
    }

    .gem-left {
        width: 406px;
        top: 366px;
        left: -26px;
    }

    .octopus {
        width: 200px;
        right: -161px;
        bottom: -80px;
    }

    .slot-machine {
        width: 255px;
        top: 140px;
        left: -75px;
    }
}

@media screen and (max-width: 992px) {}